// PRODUCtS PAGE

.productsMainContent {
    section {
        padding: 75px 0;
    }
    h2 {
        text-align: center;
    }


    // Flex-PARENT container
    .products {
        display: flex;
        flex-wrap: wrap;

        // flex-CHILD
        li {
        // This creates space between the images
        flex-basis: calc((100% / 3) - 30px);

        // flex-basis controls the dimentions of the flex-CHILD
        margin: 5px 15px;
        text-align: center;
        }

        img {
            max-width: 100%;
            border-radius: 10%;
        }
    }

    .popularProduct {
        font-weight: bold;
    }

    .discountedPrice {
        text-decoration: line-through;
        color: rgba($color: $primary, $alpha: 0.5);
        span {
            display: inline-block;
            text-decoration: none;
            color: rgba($color: $primary, $alpha: 1.0);
        }
    }
}

.guarantees {
    background-color: $quaternary;
    position: relative;
    &::before {
        content: "";
        background-color: $quaternary;
        background-image: url(../assets/wave-3.svg); 
    /* This is where CSS will lie to you. You have to type this in to the url (../../../) select the file, and then delete the first two (../../) */
        background-position: top center;
        background-size: 1500px 60px;
        background-repeat: repeat-x;
        position: absolute;
        height: 3rem;
        left: 0;
        right: 0;
        top: -60px;
    }

    h2 {
        font-size: 0.8rem;
    }

    h3 {
        font-size: 0.6rem;
        margin: 0;
    }

    p {
        font-size: 0.5rem;
        line-height: 1rem;
    }
    
    ul {
        display: flex;
        li {
            margin: 0 20px;
            width: calc(25% - 40px);
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }
}